h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}